<main>
    <div class="post--header">
        <i ng-show="vm.post.upvotes > 10" class="icon icon-star hot"></i>

        <span class="post--single-upvote" ng-class="vm.post.classVote">
            <i ng-click="vm.upvote(vm.post)" class="icon icon-arrow-up up"></i>
            <span>{{ vm.post.upvotes }}</span>
            <i ng-click="vm.downvote(vm.post)" class="icon icon-arrow-down down"></i>
        </span>
        <h2>
            <a ng-show="vm.post.link" href="{{ vm.post.link }}" target="_blank">
                {{ vm.post.title }}
            </a>

                <span ng-hide="vm.post.link">
                    {{ vm.post.title }}
                </span>
        </h2>
        <div>
            <small am-time-ago="vm.post.date"></small>
            <small ng-show="vm.post.author">by @{{ vm.post.author }}</small>
            <small ng-hide="vm.post.author">by anonymous</small>
        </div>
        <p>{{ vm.post.desc }}</p>
    </div>

    <div class="comments--section">
        <div ng-repeat="comment in vm.post.comments" class="comment--single" ng-class="comment.classLike">
            <span class="post--single-upvote" ng-class="comment.classVote">
                <i ng-click="vm.upvote(comment)" class="icon icon-arrow-up up"></i>
                <span>{{ comment.upvotes }}</span>
                <i ng-click="vm.downvote(comment)" class="icon icon-arrow-down down"></i>
            </span>
            <div class="comment--single-content">
                <p>{{ comment.body }}</p>
                <div class="footer">
                    <small am-time-ago="comment.date"></small>
                    <small ng-show="comment.author">by @{{ comment.author }}</small>
                    <small ng-hide="comment.author">by anonymous</small>
                </div>
            </div>
            <div class="comment--single-like">
                <i class="icon icon-heart-outlined" ng-click="vm.likeIt(comment)"></i>
                <span>{{ comment.likes }}</span>
            </div>
        </div>
    </div>

    <div class="comment--form">
        <form ng-submit="vm.addComment()">
            <h3>New comment</h3>
            <div class="form-group">
                <textarea placeholder="Comment" ng-model="vm.newComment.body"></textarea>
                <input type="text" placeholder="Author" ng-model="vm.newComment.author">
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
</main>

<aside>
    <h3>Top links</h3>
    <div ng-repeat="post in vm.posts | filter: vm.popularityFilter" class="post--single">
        <i ng-show="post.upvotes > 10" class="icon icon-star hot"></i>

        <div class="post--single-content">
            <h4>
                <a href="#/posts/{{ post.id }}">
                    {{ post.title }}
                </a>
            </h4>
            <div>
                <small am-time-ago="post.date"></small>
                <small ng-show="post.author">by @{{ post.author }}</small>
                <small ng-hide="post.author">by anonymous</small>
            </div>
        </div>
    </div>
</aside>