/*==============================================================================
    Module: Comment
==============================================================================*/

.comment--single {
  padding: 2rem 1rem;
  display: block;
  margin-top: .5rem;
  border: $borderDefault rgba($colorMain, .15);
  background: white;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  .vote {
    top: 50%;
    bottom: auto;
    height: 66px;
    transform: translateY(-50%);
  }

  .footer {
    margin-top: .5rem;
    color: rgba($colorMain,.5);
  }
}

.comment--single-content {
  width: 100%;
  padding: 0 3.65rem;
  display: inline-block;

  p {
    margin-top: 0;
  }
}

.comment--form {
  padding: 2rem;
  margin-top: 2rem;
  background: white;
  border: $borderDefault rgba($colorMain, .15);

  input {
    width: 100%;
    min-width: 0;
    max-width: 250px;
    margin-right: .25rem;
  }
}