/*==============================================================================
    Module: Post
==============================================================================*/

.post--single {
  margin: 1rem 0;
  background: white;
  position: relative;
  padding: 2rem 1rem;
  border: $borderDefault rgba($colorMain, .15);

  &:first-child {
    margin-top: 1rem;
  }

  .footer {
    width: 100%;
    display: block;
    margin: 1rem auto auto;
    padding: 0 1rem 0 3.65rem;
    border-top: $borderDefault rgba($colorMain, .05);
  }
}

.icon-star {
  top: .75rem;
  right: 1rem;
  text-align: center;
  position: absolute;
  color: rgba($yellow, 1);
}

.footer {
  a,
  span {
    font-size: 75%;
    display: inline-block;
    margin-top: 1rem;
  }

  a {
    i {
      margin-right: .15rem;
    }
    small {
      letter-spacing: 1px;
    }
  }

  span {
    color: rgba($colorMain, .5);
  }

  .source {
    float: right;
    display: inline-block;
    color: rgba($lightGray, .8);
    &:hover {
      color: rgba($lightGray, 1);
    }
  }
}

.post--single-content {
  display: block;
  margin: 0 1rem 0 3.65rem;

  h3,
  h4,
  p {
    margin-top: 0;

    a {
      font-size: inherit;
      color: inherit;
    }
  }

  p,
  small {
    color: rgba($colorMain,.5);
  }

  p {
    margin-top: 1rem;
  }
}