<main>
    <div ng-repeat="post in vm.posts | orderBy: '-upvotes'" class="post--single">
        <span class="post--single-upvote">
            <i ng-click="vm.upvote(post)" class="icon icon-arrow-up up" ng-class="post.class"></i>
            <span>{{ post.upvotes }}</span>
            <i ng-click="vm.downvote(post)" class="icon icon-arrow-down down" ng-class="post.class"></i>
        </span>

        <div class="post--single-content">
            <h3>
                <a ng-show="post.link" href="{{ post.link }}" target="_blank">
                    {{ post.title }}
                </a>

                <span ng-hide="post.link">
                    {{ post.title }}
                </span>
            </h3>
            <p>{{ post.desc }}</p>
        </div>

        <div class="footer">
            <a href="#/posts/{{ post.id }}" class="comments"><i class="icon icon-speech-bubble"></i> Comments</a>
            <a ng-show="post.link" href="{{ post.link }}" target="_blank" class="source"><i class="icon icon-link"></i> {{ post.link }}</a>
        </div>
    </div>
</main>

<aside>
    <form ng-submit="vm.addPost()">
        <h3>Submit your story</h3>
        <div class="form-group">
            <input placeholder="Title" ng-model="vm.newPost.title" type="text" title="Title">
            <input placeholder="Link" ng-model="vm.newPost.link" type="text" title="Link">
            <textarea placeholder="Description" ng-model="vm.newPost.desc" title="Description"></textarea>
            <input type="submit" value="Post">
        </div>
    </form>
</aside>