/*==============================================================================
    Layout: Main
==============================================================================*/

main {
  width: 70%;
  display: inline-block;
}