/*==============================================================================
    Layout: Main
==============================================================================*/

main {
  lost-column: 2/3;

  @include rwd(tablet) {
    lost-column: 1/1;
  }
}