/*==============================================================================
    Layout: Navigation
==============================================================================*/

nav {
  padding: 1rem;
  display: block;
  background: white;
  border-bottom: $borderDefault rgba($colorMain, .15);
  @include clearfix;
}

nav {
  h1 {
    float: left;
    font-size: 100%;
    display: inline-block;
    margin-top: 0;

    a {
      color: currentColor;

      i {
        font-size: 1.25rem;
        vertical-align: text-bottom;
      }
    }
  }
}

nav ul {
  float: right;
  display: inline-block;

  li {
    display: inline;

    a {
      padding: 0 .5rem;
    }
  }
}