/* --- Base --- */


* {
    box-sizing: border-box;
}

body {
    color: #444444;
}

a {
    color: rgba(231,76,60,.8);
    text-decoration: none;
}

a:hover {
    color: rgba(231,76,60,1);
}

.container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.page {
    clear: both;
}

.page:after {
    content: "";
    display: table;
    clear: both;
}

.page h2 {
    margin-bottom: 3rem;
    text-align: center;
}


/* --- Navbar --- */


nav {
    display: block;
    border-bottom: 1px solid #eaeaea;
    padding: 1rem;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav h1 {
    float: left;
    font-size: 100%;
    display: inline-block;
    margin-top: 0;
}

nav h1 a {
    color: currentColor;
}

nav h1 a i {
    font-size: 1.25rem;
    vertical-align: text-top;
}

nav ul {
    float: right;
    display: inline-block;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 0 .5rem;
}


/* --- Forms --- */


aside {
    float: right;
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-block;
    width: calc(30% - 1rem);
    background: rgba(0,0,0,.03);
    padding: 2rem;
}

aside.sticked {
    top: 0;
    position: fixed;
}

form h3 {
    margin-top: 0;
}

input,
textarea {
    outline: 0;
    margin: .25rem 0;
    padding: .5rem .5rem .5rem .65rem;
    border: 1px solid #eaeaea;
    min-width: 100%;
}

input[type=text]:focus,
textarea:focus {
    border: 1px solid #dfdfdf;
}

textarea {
    resize: none;
    min-height: 150px;
}

.form-group {
    display: block;
    margin-top: 2rem;
}

.form-group > input,
.form-group > textarea {
    margin-top: 0;
}

input[type=submit] {
    width: 100%;
    padding: .5rem;
    border: 1px solid #999999;
    background: rgba(0,0,0,.3);
    color: white;
}

input[type=submit]:hover {
    background: rgba(0,0,0,.35);
}

input[type=submit]:active {
    background: #e74c3c;
    border-color: #ca3f31;
}


/* --- Post Single --- */


main {
    width: 70%;
    display: inline-block;
}

.post--single {
    padding: 2rem 1rem;
    position: relative;
    border: 1px solid #eaeaea;
    margin: 1rem 0;
}

.post--single:first-child {
    margin-top: 0;
}

.post--single .footer {
    width: 100%;
    display: block;
    padding: 0 5.35rem;
    margin: 1rem auto auto;
    border-top: 1px solid rgba(0,0,0,.03);
}

.footer a {
    font-size: 75%;
    display: inline-block;
    margin-top: 1rem;
}

.footer a i {
    margin-right: .15rem;
}

.footer .source {
    float: right;
    display: inline-block;
    letter-spacing: 1px;
    color: #e3e3e3;
}

.footer .source:hover {
    color: #d2d2d2;
}

.post--single-upvote {
    padding: 1rem 1.25rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -3.25rem; bottom: 0;
    margin: auto;
    height: 97px;
    width: 70px;
}

.post--single-upvote i,
.post--single-upvote span {
    display: block;
}

.post--single-upvote i {
    cursor: pointer;
    font-size: 110%;
    color: rgba(0,0,0,.5);
}

.post--single-upvote i.up:hover {
    color: rgba(46, 204, 64, .4);
}

.post--single-upvote i.up.upvoted {
    color: #2ecc40;
}

.post--single-upvote i.down:hover {
    color: rgba(255, 65, 54, .4);
}

.post--single-upvote i.down.downvoted {
    color: #ff4136;
}

.post--single-upvote span {
    padding: .25rem;
    color: rgba(0,0,0,.65);
}

.post--single-content {
    display: block;
    margin: 0 5.35rem;
}

.post--single-content h3,
.post--single-content p {
    margin-top: 0;
}

.post--single-content h3 a {
    font-size: inherit;
    color: inherit;
}

.post--single-content p {
    margin-top: 1rem;
    color: rgba(0,0,0,.5);
}


/* --- Footer --- */


footer {
    width: 100%;
    padding: 2rem 0;
    display: inline-block;
}

footer small {
    float: left;
    color: rgba(0,0,0,.5);
}

footer a {
    float: right;
    font-size: 80%;
}


/* --- Comments --- */


.post--header {
    position: relative;
    display: block;
    padding: 3rem;
    text-align: center;
}

.post--header h2 {
    margin: 0;
}

.post--header h2 a {
    color: inherit;
}

.post--header p {
    color: rgba(0,0,0,.5);
}

.post--header .post--single-upvote {
    position: static;
    float: left;
    margin-left: -3rem;
}

.comment--single {
    padding: 1.5rem;
    display: block;
    margin-top: .25rem;
    border: 1px solid #eaeaea;
}

.comment--single:first-child {
    margin-top: 0;
}

.comment--single-like {
    padding: 0 1rem 0 0;
    text-align: center;
    display: inline-block;
}

.comment--single-like i,
.comment--single-like span {
    display: block;
}

.comment--single-like i {
    cursor: pointer;
    font-size: 110%;
    color: rgba(0,0,0,.5);
}

.comment--single-like i:hover {
    color: rgba(231,76,60,.6);
}

.comment--single-like i.liked {
    color: rgba(231,76,60,1);
}

.comment--single-content {
    display: inline-block;
}

.comment--single-content p {
    margin-top: 0;
}

.comment--single .footer {
    font-size: 80%;
    color: rgba(0,0,0,.5);
}

.comment--form {
    margin-top: 2rem;
}

.comment--form input {
    max-width: 250px;
    min-width: 0;
    width: 100%;
    margin-right: .25rem;
}